* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*border: 1px solid red;*/
}

html{
  font-family: 'Allerta Stencil', sans-serif;
  font-family: 'Inter', sans-serif;
  height: 100%;
  width: 100%;
}

body {
  min-height: 100vh;
  
}

.App{
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 85vh;
  max-height: 1080px;
  max-width: 1920px;
  align-items: center;
 
  background: #FFE24E;

  
}

.Header{
  position: absolute;
  width: 100%;
  height: 10vh;
  background: #FFFFFF;
  
}

.LogIn,.Account{
  position: absolute;
  
  width: 5vw;
  left: 75vw;
  top: 2.5vh;
  margin: auto;

  
  background:#D9D9D9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;

  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  text-align: center;

  color: #000000;


}

.SignUp,.LogOut{
  position: absolute;
  width: 5vw;
  left: 81vw;
  top: 2.5vh;
  margin: auto;

  background: #D9D9D9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;

  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;

  color: #000000;
}

.About{
  position: absolute;
  width: 5vw;
  left: 87vw;
  top: 2.5vh;
  margin: auto;

  background: #D9D9D9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;

  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;

  color: #000000;
}


.Header h1{
  position: absolute;
  left: 5.28%;
  top: 10%;
  
  font-family: 'Allerta Stencil', sans-serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 61px;
  
  color: #000000;

}


.Missing {
  position: relative;
  margin: auto;
  text-align: center;
  top: 50%;
}

a{
  color: #000000;
  text-decoration: none;
  
}

a:hover{
  color:darkblue;
}




