* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*border: 1px solid red;*/
}

html{
  height: 100%;
  width: 100%;
}

.App{
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 100vh;
  max-height: 1080px;
  max-width: 1920px;
  align-items: center;
 
  background: #FFFFFF;
}

.Header{
  position: absolute;
  width: 100%;
  height: 14vh;
  background: #FFE24E;
}

.LogIn{
  position: absolute;
  left: 72.5%;
  right: 19.03%;
  top: 24.58%;
  bottom: 33.05%;
  margin: auto;

  background: #D9D9D9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;

  color: #000000;


}

.SignUp{
  position: absolute;
  left: 84.51%;
  right: 5.83%;
  top: 24.58%;
  bottom: 33.05%;
  margin: auto;

  background: #D9D9D9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  color: #000000;
}

.Account{
  position: absolute;
  left: 72.5%;
  right: 19.03%;
  top: 24.58%;
  bottom: 33.05%;

  background: #D9D9D9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  color: #000000;

}

.LogOut{
  position: absolute;
  left: 84.51%;
  right: 5.83%;
  top: 24.58%;
  bottom: 33.05%;

  background: #D9D9D9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  color: #000000;
}

.Header h1{
  position: absolute;
  left: 5.28%;
  top: 22.27%;
  

  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 61px;
  
  color: #000000;

}

.Footer{
  position: relative;
  width: 100%;
  height: 3vh;
  top: 68vh;
  background: #FFFFFF;
  
  
}

.Footer h1{
  position:relative;
  top: 20%;
  margin: auto;
 
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  
  color: #000000;
  
}

.Missing {
  position: relative;
  margin: auto;
  text-align: center;
  top: 50%;
}




