/**
 * Module Name: index.css
 * Date of Creation: 20/08/2022
 * Creator: Hao Xu
 * Summary: css sheet for the index, controls common css styles of elements thats shared between classes.
 * Variable Accessed: 
 */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

html{
  font-family: 'Allerta Stencil', sans-serif;
  font-family: 'Inter', sans-serif;
  height: 100%;
  width: 100%;
}

body {
  min-height: 100vh;
}

.App{
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: fit-content;
  min-width: 100%;
  min-height: 100vh;
  align-items: center;
  
  background: #FFE24E;
  
}

.Header{
  position: absolute;
  width: 100%;
  height: 10vh;

 
  background: #FFFFFF;
  
}

.LogIn,.Account{
 
  position: absolute;

  width: 5vw;
 
  right: 16.5vw;
  top: 2.5vh;
  margin-left: 2vw;

}


#LogIn{
  width: 100%;
  height: 4.5vh;
  font-family: 'Inter', sans-serif;
  font-size: 100%;
  color: #000000;

  text-align: center;

}



.SignUp{
  
  position: absolute;
  width: 5vw;
  right: 10.5vw;
  top: 2.5vh;
  margin-left: 1vw;


}

#SignUp{

 
  width: 100%;
  height: 4.5vh;
  font-family: 'Inter', sans-serif;
  font-size: 100%;
  color: #000000;
  text-align: center;

}


#LogOut{
  position: absolute;
  width: fit-content; 
  height: 4.5vh;
  right: 10vw;
  top: 2.5vh;
  margin: auto;

  font-family: 'Inter', sans-serif;
  font-size: 100%;
  color: #000000;
  text-align: center;
 
}

.About{
  position: absolute;
  width: 5vw;
  right: 4vw;
  top: 2.5vh;
  margin-left: 5vw;
}

.About > Button{
  width: 100%;
  height: 4.5vh;
  font-family: 'Inter', sans-serif;
  font-size: 100%;
  color: #000000;
  text-align: center;
  
}




.Header h1{
  position: absolute;
  left: 2vw;
  top: 1vh;
  
  font-family: 'Allerta Stencil', sans-serif;
  font-weight: 400;
  font-size: 250%;
  line-height: 61px;
  
  color: #000000;

}


#Missing {
  position: relative;
  margin: auto;
  text-align: center;
  top: 50vh;
}

a{
  color: #000000;
  text-decoration: none;
  
}

a:hover{
  color:darkblue;
}

button:hover{
  background-color: #FFE24E;
}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}




@media all and (max-width:1200px){
  
.SignUp{
  
  position: absolute;
  width: 8vw;
  right: 13.5vw;
  top: 2.5vh;
  margin-left: 1vw;


}

.LogIn,.Account{
 
  position: absolute;

  width: 8vw;
 
  right: 23.5vw;
  top: 2.5vh;
  margin-left: 2vw;

}

.About{
  position: absolute;
  width: 8vw;
  right: 4vw;
  top: 2.5vh;
  margin-left: 5vw;
}

#LogOut{
  position: absolute;
  width: fit-content; 
  height: 4.5vh;
  right: 14vw;
  top: 2.5vh;
  margin: auto;

  font-family: 'Inter', sans-serif;
  font-size: 100%;
  color: #000000;
  text-align: center;
 
}



}





