/**
 * Module Name: Dashboard.css
 * Date of Creation: 27/08/2022
 * Creator: Hao Xu
 * Summary: css for dashboard page
 * Variable Accessed: 
 */


 /* width */
 ::-webkit-scrollbar {
  
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #010101; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }

.Information{
    position: relative;
    width: 100%;
    height: 12.8vh;
    top: 10vh;
    mix-blend-mode: normal;
   
}

.SearchForm{
    position: absolute;
    width: 35vw;
    left: 64vw;
    top: 14vh;
    display: block;
    
}

h2.headertekst {
    text-align: center;
}




#search{
    width: 80%;
    min-height: 30px;
    font-size: 1rem;
    padding: 0.25rem;
    border-radius: 0.25rem;
    top: 7px;
    right: 0px;
    outline: none;
}
  
.searchForm>label {
    position: relative;
    left: -99999px;
   
}

.FaSearch{
    position: relative;
    top: 0 px;
    right: 10px; 
}

.RecordDisplay{
    position:absolute;
    top: 23vh;
    left: 3vw;
    width: 47vw;
    margin-left: 0%;
    height: 77vh;
    overflow-y: auto;
    
    min-height: 60vh;
    background-color: #FDF4C9;
    border-radius: 20px;
  
}

.RecordDisplay > span{
    font-family: 'Allerta Stencil', sans-serif;
   
    height: fit-content;
   
}

#Category{

    font-family: 'Allerta Stencil', sans-serif;
    top: 0;
    left: 1vw;
    font-size: 1.5vw;
   
}

#Date{
    position:absolute;
    top: 0;
    font-family: 'Allerta Stencil', sans-serif;
    left: 1.5vw;
    font-size: 1.5vw;
   
}

#Money{
    
    position: absolute;
    top: 0;
    left: 1.5vw;
    font-size: 1.5vw;
    font-family: 'Allerta Stencil', sans-serif;
   
}

#Notes{
    
    position:absolute;
    top: 0;
    left: 7vw;
    font-size: 1.5vw;
    font-family: 'Allerta Stencil', sans-serif;

}

#CategoryContainer{
   
    position: absolute;
    width: 20%;
    height: 5vh;
   

}
#DateContainer{
    position: absolute;
    
    width: 20%;
    left: 20%;
    height: 5vh;
}
#MoneyContainer{
    position: absolute;
  
    left: 40%;
    width: 20%;
    height: 5vh;
}
#NotesContainer{
   
    position:absolute;
    left: 60%;
    width: 40%;
    height: 5vh;
   
}



.Record{
   
    position: relative;
    top: 5vh;
    height: 5vh;   
}


.RecordDetails{
    position: relative;
    left: 9vw;
    width: 37vw;
    height: 5vh;
    font-family: 'Inter', sans-serif;
  
}

.TimeDisplay{
    width: 12vw;
    position: absolute;
    left: 3.5vw;
    top: 3vh;
    font-family: 'Allerta Stencil', sans-serif;
    z-index: 10;

    font-size: 2vw;
   
}

.IncomeDisplay{
    position: absolute;
    left: 20vw;
    text-align: center;

    width: fit-content;
    height: fit-content;

    top: 3vh;
    font-family: 'Allerta Stencil', sans-serif;
    
    font-size: 2vw;
   
}

.ExpenditureDisplay{
    position: absolute;
    left: 33vw;
    text-align: center;
    width: fit-content;
    height: fit-content;
    top: 3vh;
    font-family: 'Allerta Stencil', sans-serif;

    font-size: 2vw;

  
}


#iconContainers{
    position: absolute;
    height: 3vh;
    width: 2vw;
    left: 3vw;
    
}

#recordIcons{
    height: 100%;
    width: 100%;
}

.Date{
 
    position: absolute;
   
    left: 1.0vw;
    top: 0.5vh;
    width: fit-content;
    height: fit-content;
    font-size: 1.2vw;
    
   
}


.Expenditure{
    
    position: absolute;
    
    top: 0.3vw;

    left: 11vw;
    height:fit-content;
    width: 4vw;

    text-align: right;
    font-size: 1.2vw;
   
    
}

.Notes{
    position: absolute;
    left: 20vw;
    text-align: center;
    height: fit-content;
    font-size: 1vw;
    top: 0.7vh;
}


.Operation{
    position: absolute;
    left: 28vw;
    text-align: center;
    height: fit-content;
    font-size: 0.9rem;
    top: 1vh;
}



#arrow{
   
    height: 100%;
    width: 100%;
    
}

#monthPickerContainer{
    
    position: absolute;
    top: 0vh;
    left: 5vw;
    width: 3vw;
    height: 4vh;
    
  
}

#displayNone{
    top: 20vh;
    position: relative;
    margin: auto;
   
    text-align: center;
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 2rem;
}

.PieChartContainer{
  
    position:absolute;
    left: 2vw;
    height: 100%;
    width: 70%;
}

.PieChartBackGround{
    position:absolute;
    left: 65vw;
    height: 40vh;
    width: fit-content;
    min-width: 30vw;
    top: 23vh;
    border-radius: 20px;
    
    background-color: #FDF4C9;
}

.VerticalBarChartContainer{
   
    position:absolute;
   
    width: 100%;
    height: 100%;

}

.VerticalBarChartBackground{
    position:absolute;
    
    left: 65vw;
    height: 30vh;
    width: 30vw;
    top: 70vh;
    border-radius: 20px;
    background-color: #FDF4C9;
}

#NoRecords{
    position: relative;
    top: 20vh;
    left: 5vw;
    width: 35vw;
    font-size: 2rem;
  
    font-family: 'Allerta Stencil', sans-serif;
    
}

.SigChanges{
    
    position: absolute;
    left: 51vw;
    width: 13vw;
    height: 20vh;
    top: 73vh;
    font-size: 1vw;
    font-family: 'Allerta Stencil', sans-serif;
   
}

#percent{
    
    position: absolute;
    width: 10vw;
    font-size: 2vw;
    left: 4vw;
}

.addButton{
   
    height: 100%;
    width: 100%;
}

#addContainer{
    position: absolute;
   
    left: 50vw;
    top: 3vh;
    height: 4vh;
    width: 4vw;
}

.addButton:hover{
  
    background-color: #FDF4C9;
}

#arrowDownCircle{
    position: absolute;
    right: 1vw;
    top: 3vh;
}

#arrowDownCircle:hover{
    color: blue;
}

#highlight{

   
    color: red;
}


#deleteContainer{
    
    position: absolute;
   
    top: 0vh;
    width: 2vw;
    height: 3vh;
    left: 32vw;
}
#editContainer{
   
    position: absolute;
    top: 0vh;
    width: 2vw;
    height: 3vh;
    left: 34vw;
}

#deleteImg{
    height: 100%;
    width: 100%;
}

#editImg{
    height: 100%;
    width: 100%;

}

#editImg:hover{
    color: red;
}
#deleteImg:hover{
    color: red;
}



@media all and (max-width: 1130px) {
    .PieChartContainer{
        
        position:absolute;
        left: 0;
        height: 80%;
        top: 7vh;
        width: 100%;
    }
    
    .PieChartBackGround{
        position:absolute;
        left: 65vw;
        height: 40vh;
        width: fit-content;
        min-width: 30vw;
        top: 23vh;
        border-radius: 20px;
        
        background-color: #FDF4C9;
    }
    
    .VerticalBarChartContainer{
       
        position:absolute;
      
        width: 100%;
        height: 100%;
    
    }
    
    .VerticalBarChartBackground{
        position:absolute;
        
        left: 65vw;
        height: 30vh;
        width: 30vw;
        top: 70vh;
        border-radius: 20px;
        background-color: #FDF4C9;
    }   
}

@media all and (max-width: 450px){
  

    .TimeDisplay{
       
        width: 45vw;
        position: absolute;
        left: 5vw;
        top: 1vh;
        font-family: 'Allerta Stencil', sans-serif;
        z-index: 10;
    
        font-size: 5vw;
       
    }
    
    .IncomeDisplay{
       
        position: absolute;
        left: 5vw;
        text-align: center;
    
        width: fit-content;
        height: fit-content;
    
        top: 4vh;
        font-family: 'Allerta Stencil', sans-serif;
        
        font-size: 5vw;
       
    }
    
    .ExpenditureDisplay{
       
        position: absolute;
        left: 5vw;
        text-align: center;
        width: fit-content;
        height: fit-content;
        top: 7vh;
        font-family: 'Allerta Stencil', sans-serif;
    
        font-size: 5vw;
    
      
    }

    #monthPickerContainer{
        
        position: absolute;
        
        left: 24vw;
        width: 30vw;
        height: 3vh;
        
        position: absolute;
    }

    .SearchForm{
       
        position: absolute;
        width: 40vw;
        left: 60vw;
        top: 13vh;
        display: block;
        
    }
    
    #search{
        
        width: 80%;
        min-height: 30px;
        font-size: 1rem;
        padding: 0.25rem;
        border-radius: 0.25rem;
        top: 7px;
        right: 0px;
        outline: none;
    }
    
    .searchForm>label {
        position: relative;
        left: -99999px;
    
    }

    .FaSearch{
        position: absolute;
        top: 0;
        right: 0px; 
    }

    .PieChartContainer{
       
        position:absolute;
        top: 0vh;
        left: 0vw;
        height: 100%;
        width: 70%;
    }
    
    .PieChartBackGround{
        position:absolute;
        left: 0vw;
        height: 40vh;
        width: fit-content;
        min-width: 100vw;
        top: 75vh;
       
        background-color: #FDF4C9;
    }
    
    .VerticalBarChartContainer{
       
        position:absolute;
       
        width: 100%;
        height: 100%;
    
    }
    
    .VerticalBarChartBackground{
        position:absolute;
        
        left: 0vw;
        height: 30vh;
        width: 100vw;
        top: 115vh;
       
        background-color: #FDF4C9;
    }

    #budget{
        border: red solid 2px;
        position: absolute;
        top: 150vh;
        left: 53vw;
        width: 10vw;
        height: 20vh;
        border-radius: 20px;
    
    }

    .SigChanges{
        position: absolute;
        left: 51vw;
        width: 13vw;
        height: 20vh;
        top:3vh;
        font-size: 1vw;
        font-family: 'Allerta Stencil', sans-serif;
       
    }

    .RecordDisplay{
        position:absolute;
        top: 23vh;
        left: 0vw;
        width: 100vw;
        margin-left: 0%;
        height: 50vh;
        overflow-y: auto;
        
        min-height: 50vh;
        background-color: #FDF4C9;
        border-radius: 20px;
      
    }

    #CategoryContainer{
       
        position: absolute;
        width: 20%;
        height: 4vh;
       
    
    }
    #DateContainer{
        position: absolute;
        
        width: 20%;
        left: 20%;
        height: 5vh;
    }
    #MoneyContainer{
        position: absolute;
      
        left: 40%;
        width: 20%;
        height: 5vh;
    }
    #NotesContainer{
       
        position:absolute;
        left: 60%;
        width: 40%;
        height: 5vh;
       
    }

    #Category{

        font-family: 'Allerta Stencil', sans-serif;
        top: 0;
        left: 2vw;
        font-size: 3vw;
       
    }
    
    #Date{
        position:absolute;
        top: 0;
        font-family: 'Allerta Stencil', sans-serif;
        left: 1.5vw;
        font-size: 3vw;
       
    }
    
    #Money{
       
        position: absolute;
        top: 0;
        left: 1.5vw;
        font-size: 3vw;
        font-family: 'Allerta Stencil', sans-serif;
       
    }
    
    #Notes{
        
        position:absolute;
        top: 0;
        left: 7vw;
        font-size: 3vw;
        font-family: 'Allerta Stencil', sans-serif;
    
    }

    #iconContainers{
      
        position: absolute;
        height: 3vh;
        width: 5vw;
        left: 5vw;
        
    }

    .Record{
        
        position: relative;
        top: 3vh;
        height: 5vh;   
    }
    
    
    .RecordDetails{
        position: relative;
        left: 9vw;
        width: 37vw;
        height: 5vh;
        font-family: 'Inter', sans-serif;
      
    }

    .Date{
        position: absolute;
       
        left: 10vw;
        top: 0.5vh;
        width: fit-content;
        height: fit-content;
        font-size: 3vw;
        
       
    }
    
    
    .Expenditure{
     
        position: absolute;
        top:0.5vh;
        left: 32vw;
        height: fit-content;
        width: 4vw;
        text-align: right;
        font-size: 3vw;
       
        
    }
    
    .Notes{
       
        position: absolute;
        left: 45vw;
        text-align: center;
        height: 50%;
        width: 90%;
        font-size: 2.5vw;
        top: 0.7vh;
    }

    #deleteContainer{
    
        position: absolute;
       
        top: 0vh;
        width: 3vw;
        height: 3vh;
        left: 79vw;
    }
    #editContainer{
       
        position: absolute;
        top: 0vh;
        width: 2.8vw;
        height: 3vh;
        left: 84vw;
    }
    
  
    
}



