.Information{
    position: relative;
    width: 100%;
    height: 12.8vh;
    top: 10vh;
    mix-blend-mode: normal;
   
}

.SearchForm{
    position: absolute;
    width: 35vw;
    left: 63vw;
    top: 12vh;
    display: block;
   
    
}


#search{
    width: 80%;
    min-height: 30px;
    font-size: 1rem;
    padding: 0.25rem;
    border-radius: 0.25rem;
    top: 7px;
    right: 0px;
    outline: none;
}
  
.searchForm>label {
    position: relative;
    left: -99999px;
   
}

.FaSearch{
    position: relative;
    top: 7px;
    right: 10px; 
}

.RecordDisplay{
    position:absolute;
    top: 23vh;
    left: 3vw;
    width: 47vw;
    margin-left: 0%;
    height: auto;

    min-height: 77vh;
    
    background-color: #FDF4C9;
    
    border-radius: 20px;
}

.RecordDisplay > h3{
    top: 2vh;
    width:max-content;
    position: relative;
    left: 5%;
    word-spacing: 5vw;
}

.Record{
    position: relative;
    top: 3vh;
    height: 6vh;
    border: solid 2px red;
}



.Record img{
    top: 1vh;
    width:5%;
    height:70%;
    left: 5%;
    float:left;

}

.RecordDetails{
    position: relative;
    left: 9vw;
    width: 38vw;
    top: 1vh;

    height: 4vh;
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    border: solid 1px blue;
   
}

.TimeDisplay{
    width: 12vw;
    position: relative;
    left: 5vw;
    top: 3vh;
    font-family: 'Allerta Stencil', sans-serif;
    z-index: 10;
}

.Date{
    position: relative;
    border: solid 2px gray;
}










