.Information{
    position: relative;
    width: 100%;
    height: 12.8vh;
    top: 10vh;
    mix-blend-mode: normal;
   
}

.SearchForm{
    position: absolute;
    width: 35vw;
    left: 63vw;
    top: 12vh;
    display: block;
   
    
}


#search{
    width: 80%;
    min-height: 30px;
    font-size: 1rem;
    padding: 0.25rem;
    border-radius: 0.25rem;
    top: 7px;
    right: 0px;
    outline: none;
}
  
.searchForm>label {
    position: relative;
    left: -99999px;
   
}

.FaSearch{
    position: relative;
    top: 7px;
    right: 10px; 
}

.RecordDisplay{
    position:absolute;
    top: 23vh;
    left: 3vw;
    width: 47vw;
    margin-left: 0%;
    height: auto;

    min-height: 77vh;
    
    background-color: #FDF4C9;
    
    border-radius: 20px;
}

.RecordDisplay > h3{
    top: 2vh;
    width:max-content;
    position: relative;
    left: 5%;
    word-spacing: 5vw;
}

.Record{
    position: relative;
    top: 3vh;
    height: 6vh;
}

.Record p{
    height: auto;
    bottom: 3.4vh;
    margin: 0 auto;
    padding: 10px;
    font-size: 0.9rem;
}

.Record img{
   
    width:5%;
    height:5%;
    bottom: 8px;
    left: 5%;
    float:left;

}

.RecordDetails{
    margin: auto;
    bottom: 1.2vh;
    width: max-content;
    left: 8vw;
   
}

.TimeDisplay{
    width: 12vw;
    position: relative;
    left: 5vw;
    top: 3vh;
    font-family: 'Allerta Stencil', sans-serif;
    
    z-index: 10;
}


#Picker>.section_mp{
    border: solid 5px black;
    z-index: 10;
}








